<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">
		<meta name="theme-color" content="#3B753D">
		<title>Lovat</title>
		<link rel="stylesheet" href="assets/styles.css">
		<link rel="shortcut icon" type="image/png" href="assets/favicon.png"/>
	</head>
	<body>
		<div id="react-root-dashboard">{{{dashboardViewHtml}}}</div>
		<script type="text/javascript" src="assets/js/bundle.js"></script>
		<script type="text/javascript" src="assets/js/websocket.js"></script>
	</body>
</html>
