html, body, .wrapper {
    height: 100%;
    min-width: 400px;
}

header {
    height: 56px;
}

.footer {
    height: 40px;
}

.landing-page, .login-page, .main {
    height: calc(100% - 56px - 40px);
    overflow: hidden;
    display: flex;
}

.left-side-bar, .dashboard, .row {
    overflow: auto;
}

.landing-page, .footer, .login-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0px;     
}

p.card-text, .asset-pair {
    font-size: 10px;
}


.chat-container {
    height: 100%;       
}

.chat-log {
    overflow: auto;
    font-size: 12px;
    word-wrap: break-word;
    height: calc(100% - 81px);
    max-height: 1000px;
    margin-bottom: 0px;    
}

.chat-log::after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}

ul#log {
    display: inline-block;
}